[2022-05-25 03:29] greemo opened #4 "Allow configuration of application deployment name"
## Problem

At the moment the deployment name is always "main". I want to be able to configure that.

## Suggested solution

Add 'deployment' field to ApplicationConfig and Application, and use it in resolveConfig() instead of the hard-coded 'main'.

then a user could configure the deployment within configureWunderGraphApplication()

## Alternatives

Possibly allow overriding via an environment va

[2022-05-25 06:36] jensneuse commented on #4
You're right that this should be configurable. I think, a good place could be the Application object: https://github.com/wundergraph/wundergraph/blob/a41ffc5282396f829668b59bb548526eff941085/examples/simple/.wundergraph/wundergraph.config.ts#L73

We could add a properly like "environment" that defaults to the currently checked out branch, if not set. Otherwise, it could be overwritten via string.

[2022-05-25 22:33] greemo commented on #4
Yeah, adding it to the ApplicationConfig that is used to construct the Application feels like a natural place for it.

I think defaulting to branch may make deployment a bit tricky, as it affects the url.

I'd feel more comfortable with default to 'main' as it is, but can be overwritten by the applicationconfig.

It may make sense for the go server+hook server to consider an environment variable a

[2022-05-27 07:08] AnsonCode opened #12 "The lack of package："github.com/wundergraph/wundergraph/types/go/wgpb""
### Bug description

When I run `cmd/wunderctl`, I get a error:
`../../pkg/loadvariable/loadvariable.go:8:2: no required module provides package github.com/wundergraph/wundergraph/types/go/wgpb; to add it:
        go get github.com/wundergraph/wundergraph/types/go/wgpb`

And find that The lack of package："github.com/wundergraph/wundergraph/types/go/wgpb"

### How to reproduce

1. Go to 'cmd/wunder

[2022-05-27 08:19] jensneuse commented on #12
This should work after running make, can you confirm?

[2022-05-27 08:22] AnsonCode commented on #12
when i run "make run",i get the error.

`anson@192 wgcode % make run
cd cmd/wunderctl && go run main.go
../../pkg/loadvariable/loadvariable.go:8:2: no required module provides package github.com/wundergraph/wundergraph/types/go/wgpb; to add it:
        go get github.com/wundergraph/wundergraph/types/go/wgpb
make: *** [run] Error 1`

[2022-05-27 08:23] AnsonCode commented on #12
Do we have to use go version 1.8?

[2022-05-27 08:30] AnsonCode commented on #12
Maybe i know the reason:i don't generate the code . I will have a try later.

[2022-05-27 12:55] AnsonCode commented on #12
I have solve the issue by run `make`.

[2022-05-27 12:55] #12 closed

[2022-05-28 07:20] AnsonCode opened #17 "up mode, file path error."
### Bug description

`up` mode, file path error.

Expect add `AbsWorkingDir` at `initialBuild` function in `bundleconfig.go` file.

![image](https://user-images.githubusercontent.com/20960032/170814732-17808840-3a30-45ed-9a71-d91e5a776fd2.png)

### How to reproduce

1. Go to '/cmd/wunderctl'
2. Change 'nothing'
3. Run 'go run main.go up --debug true --wundergraph-dir ../../examples/simple/.wunderg

[2022-05-29 16:40] StarpTech commented on #17
Hi @AnsonCode thanks for opening an issue. Indeed, relative path handling isn't properly implemented yet. In the meantime, you can work around it by running `wunderctl up --debug` in the same directory of your `.wundergraph` dir.

[2022-05-30 04:01] AnsonCode commented on #17
Hi @StarpTech ,thanks for answer. In the fact, my requirement is debug 'up' mode,ranther than running `wunderctl up --debug`.Do you hava other solution for this requirement.

[2022-05-30 07:15] StarpTech commented on #17
Run `wunderctl up --debug` in a different working directory.

[2022-05-30 08:56] AnsonCode commented on #17
I think you may misunderstant me.Run `go run main.go` in `wgcode/examples/simple/.wundergraph` directory,Just can start the code,but can't debug the code.

[2022-06-01 07:07] AnsonCode commented on #17
yes,thanks for your patience.It can answer part of  my confusion.But it still can't sove my problem.I mean how to `dlv` the code.
Now i find another solution for my problem.
I use vs code dev and this is my debug config.

[code]

[2022-06-03 00:32] greemo opened #25 "Add transformer to extract an item out of a list."
## Problem
It is often the case that an API has an interface for performing an operation over multiple items, however the user of the API would like to offer an operation that operates over a single item.

An example is a delete item operation. Imagine a theoretical API:

`DELETE www.example.com/api/v1/items?ids=[12,43,4]`

Which returns a list of ids.

But we want to offer a Wundergraph operation

[2022-06-03 04:57] greemo opened #26 "mutatingPostResolveHook not returning data."
### Bug description

Hi, I am trying to use the mutatingPostResolve hook and the go process is not returning the value returned from the post resolve hook.
Without the post resolve hook, everything works perfectly.

The request is traveling to the resolving API, back, then to the mutating hook, then the correct value is coming back, but then no data is returned to the initiating client. The body i

[2022-06-03 19:55] StarpTech commented on #17
We don't use vscode. We use goland. You only need to find the right configuration to change the working dir.

[2022-06-07 10:48] piyush-multiplexer opened #29 "Blog links are broken"
### Bug description

Two of links in RECENT POSTS section(2022) are not working due to **/blog** is being repeated twice, and redirected to 404.

https://wundergraph.com/blog/blog/partnership_announcement_oracle_cloud_and_wundergraph
https://wundergraph.com/blog/blog/keycloak_integration_in_minutes_with_cloud_IAM_and_wundergraph

### How to reproduce

![image](https://user-images.githubusercontent

[2022-06-07 19:31] jensneuse commented on #25
Have you tried something like this:
`www.example.com/api/v1/items?ids=[{id}]`
I think this should work.
As an alternative, I think it would be interesting to have a directive like `@transform(list: {index: 0}}` or similar.

[2022-06-08 00:09] greemo commented on #25
Yeah, I can call the API no problem, with the following operation definition:

mutation deleteItem($id: Int!) {
    object: ns_deleteItems(ids : [$id]) {
        id
    }
}

but the result type is a list, which needs to be unpacked somehow to the single item.

[2022-06-08 09:52] hinogi opened #34 "🐛 Getting Started missing important information"
### Bug description

https://wundergraph.com/docs/guides/your_first_wundergraph_application/overview out of date, missing information like where to execute wunderctl

### How to reproduce

1. npm i -g @wundergraph/wunderctl@latest
2. mkdir test-wundergraph && cd test-wundergraph
3. wunderctl init
4. npm install
5. wunderctl add wundergraph/weather wundergraph/countries
6. Open the file wundergraph

[2022-06-08 10:08] hinogi opened #35 "🐛 No easy way to stop wunderctl up"
### Bug description

So while there is something like `wunderctl up --debug` that shows debug information. If you exit via ctrl+c the process remains active.
There is no `wunderctl down` so you can't make it stop unless you either memorized the PID or you look it up on which process is using port 9991 or 9992 and kill it manually.

### How to reproduce

1. wunderctl up --debug

### Expected behavi

[2022-06-08 10:27] jensneuse commented on #35
I think this is already fixed with #33. @StarpTech did we create a new release already?

[2022-06-08 10:48] jensneuse commented on #25
I think I like your idea of adding `@transform(index: 0)`.
Do you need guidance on how to add it?

[2022-06-08 12:06] StarpTech commented on #35
But I think this won't solve the issue. `wunderctl up` doesn't call this place. https://github.com/wundergraph/wundergraph/pull/32 might fix it.

[2022-06-08 20:14] Slickstef11 commented on #29
Hey @piyush-multiplexer thank you for reporting this bug! It's been fixed now.

[2022-06-08 20:14] #29 closed

[2022-06-09 00:34] greemo commented on #25
I'll start by setting up my dev environment for the codebases, and creating a unit test for the go part of the code. If I have any issues, I'll PM you on Discord.

[2022-06-09 10:18] Pagebakers opened #36 "Generated Nextjs starter out of date."
### Bug description

I was having issues getting the Nextjs starter running, it turns out the code generated was out of date.

[code]

Should be

[code]

But when looking at the source, this is looking up to date, so I'm not sure where the issue lies.

https://github.com/wundergraph/wundergraph/blob/main/packages/nextjs-testapp/pages/authentication.tsx

### How to reproduce

1. Install wunderctl w

[2022-06-09 14:53] hinogi opened #37 "🐛 [GitPod] Network error in graphiql when trying to load schema"
### Bug description

![image](https://user-images.githubusercontent.com/4602609/172877125-36e2fab5-cd5e-4984-a012-4714f5bfcd76.png)

### How to reproduce

1. https://gitpod.io/#https://github.com/wundergraph/wundergraph
2. go to gitpod /app/main/graphql
3. try to open the docs explorer

### Expected behavior

docs explorer should show the schema

### WunderGraph information

https://gitpod.io/#htt

[2022-06-10 16:32] StarpTech commented on #35
Hi @hinogi, could you give the latest release a shot?

[2022-06-11 08:38] hinogi commented on #35
[code]
Seems to work now

[2022-06-11 08:41] #35 closed

[2022-06-11 17:47] StarpTech commented on #36
Hi @Pagebakers thank you for opening an issue. I fixed the places in https://github.com/wundergraph/wundergraph/commit/08493955ce6a3d96c23b7bb07ccf788ca8911752

[2022-06-11 17:47] #36 closed

[2022-06-11 22:30] StarpTech commented on #26
Hi @greemo thanks for opening an issue. Your observation is correct. This PR fixes it.

[2022-06-12 09:44] #26 closed

[2022-06-12 18:07] StarpTech commented on #26
Released with https://github.com/wundergraph/wundergraph/releases/tag/%40wundergraph%2Fsdk%400.92.6

[2022-06-13 02:05] minhdtb opened #39 "Incorrect authentication error message"
### Bug description

incorrect authentication error when RBAC is not sufficient

### How to reproduce

Create a simple WunderGraph application from template and use open id connect auth provider

Operation

[code]
create a hook in wundergraph.server.ts
[code]
index.tsx
[code]
Actual error message:
[code]

### Expected behavior

The error message should be ```Access denied``` or something related t

[2022-06-15 11:15] AnsonCode commented on #17
THX,I SEE.

[2022-06-15 11:54] StarpTech commented on #17
I'll keep it open because it didn't fix the underlying issue.

[2022-06-20 06:51] jensneuse commented on #39
Your observation is correct, this needs fixing. Putting it on the backlog.

[2022-06-20 07:38] jensneuse opened #44 "It's not possible to send anonymous single GraphQL Operations in the embedded GraphiQL"
### Bug description

see title

### How to reproduce

### Expected behavior

_No response_

### WunderGraph information

### Environment & setup

- OS:
- Go version:
- Database:
- Node.js version:

### WunderCtl Version

[code]

[2022-06-20 08:49] jensneuse opened #45 "When .wundergraph/generated directory is missing on first start, JSON-RPC endpoints are not being created"
### Bug description

On the initial start, the generated folder doesn't exist.
This means, the wundergraph.config.json file doesn't exist either, so it's not possible to setup a listener on the file.
Once it's created, it's not being picked up and endpoints are not being created.

### How to reproduce

1. head to default test app
2. remove generated dir
3. start testapp
4. endpoints not created
5.

[2022-06-21 08:09] minhdtb opened #46 "Failed to use Postgraphile as a graphql datasource"
### Bug description

an error occurred and the code could not be generated

only working with option `--skip-plugins graphile-build:NodePlugin`

### How to reproduce

run postgrapgphile

[code]

setup datasource
wundergraph.config.ts
[code]

run wunderctl
[code]

error
[code]

### Expected behavior

working as expected

### WunderGraph information

N/A

### Environment & setup

OS: Ubuntu
Go versi

[2022-06-21 20:00] #45 closed

[2022-06-22 09:04] a0v0 opened #49 "[Example] How to use ory kratos with wundergraph"
Please add an example showcasing how to setup ory kratos login/signup with wundergraph

[2022-06-22 20:54] StarpTech commented on #44
Fixed in https://github.com/wundergraph/wundergraph/pull/50

[2022-06-22 20:54] #44 closed

[2022-06-23 07:30] jensneuse commented on #46
I think we should build a postgraphile example and figure out the issues you're facing here. I know there are a few quirks with graphile and the Node interface, but it's solveable.

[2022-06-23 18:33] abdelhameedhamdy commented on #46
I already used postgraphile with WG few months ago  without issue.

[2022-06-24 01:31] minhdtb commented on #46
@abdelhameedhamdy Could you share some sample? I have tried the latest version but still not working. And the postgraphile subscriptions feature also doesn't work even with the option `-skip-plugins graphile-build:NodePlugin `

[2022-06-24 18:05] a0v0 commented on #49
can I expect a working demo within this month?

[2022-06-24 19:21] jensneuse commented on #49
It depends. Are you interested in becoming a customer of our support plans this month? We're not making commitments of any sort to non-customers. So if you're not a customer, please be patient. We're investing heavily into open source, but this doesn't mean that we're doing this for free. We have to build and sustain a business too. Please don't demand features or demos if you're not a paying cust

[2022-06-28 18:47] abdelhameedhamdy commented on #46
Sorry for late reply, it just works as you did, postgraphile endpoint exposed from cli, url endpoint data source is added in WG config file, simple as that.
I don't recall the used WG version.

[2022-06-30 10:57] jensneuse commented on #39
Fixed with @wundergraph/nextjs@0.0.28

[2022-06-30 10:57] #39 closed

[2022-06-30 10:58] jensneuse commented on #46
@minhdtb as an alternative, could you directly connect to PostgreSQL using `introspect.postgres`?

[2022-07-02 21:46] vincent-lecrubier-skydio opened #62 "Many to Many relation Prisma introspection broken"
### Bug description

Name of fields in the GraphQL schema after Prisma introspection are wrong

### How to reproduce

1. Create project with the nextjs-postgres template
2. Replace the prisma Schema with
[code]
3. Go on `http://localhost:9991/app/main/graphql`
4. You cannot issue this query:
[code]
5. But this query:
[code]

### Expected behavior

In step 4 and five above, I'd expect:

4. You can

[2022-07-04 10:31] jensneuse commented on #62
If you rename the table from Post to posts, it should work as expected.
It might not be convenient, but it's what Prisma generates.
There are ways to improve this, e.g. rewrite field names based on the relationship, but it's not currently something we have the bandwidth for.

[2022-07-04 15:24] cwmoss commented on #34
`cd .wundergraph` solves this problem with `generate`

next error will be on step `wunderctl up --debug`

[code]

indeed there is no such file :(

[2022-07-04 18:57] cwmoss commented on #34
ok. i got it running. i had to modify `wundergraph.config.ts` i could successfully connect a sqlite db and define a query like: `http://localhost:9991/app/main/operations/Posts?condition={%22title%22:{%22startsWith%22:%22Hello%22}}`

i still have a hard time to "get it". i have a question: when running in production with the go server, is the sqlite process part of the go server? or is it running

[2022-07-04 19:09] jensneuse commented on #34
There's a Go server (gateway) and a NodeJS server (hooks). If you're connecting to a database, the Go server spawns a prisma process and talks to it over HTTP. In theory, it would be possible to compile prisma to a shared object and load it from go directly. Then the gateway can talk to it in memory. However, this does not work on all systems, e.g. Windows doesn't work, but it could be enabled wit

[2022-07-04 21:05] cwmoss commented on #34
hi jens,
thank you for your reply. i think i can see it much clearer now what is happening "under the hood" :) i actually read the text "vs_hasura" that explained it quite good. maybe it is more concise to say: hasura at its core is a graphql to sql interpreter where wundergraph is a graphql to rest compiler and request/api router/gateway...

[2022-07-09 03:52] minhdtb commented on #46
@jensneuse I want to use custom query feature of postgraphile by using plpgsql function. So I used postgraphile as a datasource. Currently, if postgraphile's custom query returns a JSON data type, wundergraph won't get it. According to the document here [url](https://wundergraph.com/docs/guides/strategies/using_json_columns_with_a_custom_graphql_schema),  I see that replaceJSONTypeFields only supp

[2022-07-09 06:48] jensneuse commented on #46
That's great feedback. I think it makes sense to add this feature to all data sources.

[2022-07-14 01:59] dephraiim opened #79 "wunderctl returns nothing"
### Bug description

When using the wunderctl command line, it returns nothing to the user. The options are not returning anything to the user.

### How to reproduce

1. Install the latest version of wunterctl from npm
2. Run `wunderctl --version`

### Expected behavior

See results from commands.

### WunderGraph information

### Environment & setup

- OS: Windows 11
- Go version:  go1.18.4 windo

[2022-07-18 07:00] jensneuse opened #84 "make doesn't work"
### Bug description

packages/nextjs-testapp build$ pnpm run generate && next build
[1 lines collapsed]
│ > @test/nextjs-starter@0.1.0 generate /Users/jens/repos/wundergraph/packages/nextjs-testapp
│ > cd .wundergraph && wunderctl generate
│ Error: could not find file or directory: base directory "/Users/jens/repos/wundergraph/packages/nextjs-testapp/.wundergraph/.wundergraph" not found

I've had

[2022-07-18 09:01] StarpTech commented on #84
Addressed in https://github.com/wundergraph/wundergraph/commit/2f4ed274bba67c2ddf3ff37c19fa27f10a26bbe5. I will make a release shortly.

[2022-07-18 09:01] #84 closed

[2022-07-18 21:29] faunaee opened #86 "pnpm version mismatch"
### Bug description

In `package.json`:

[code]

These incompatible version specifications result in the following error:

[code]

### How to reproduce

### Expected behavior

I would expect the dependency installation to complete successfully.

### WunderGraph information

### Environment & setup

- OS: macOS Monterey 12.4
- Go version: 1.18.4
- Database: FaunaDB
- Node.js version: 17.5.0

### Wu

[2022-07-19 09:04] #86 closed

[2022-07-19 16:17] faunaee commented on #86
Thanks for fixing this issue so quickly! Dependencies now install successfully.

[2022-07-21 16:11] faunaee opened #94 "Add support for Fauna Region Groups"
## Problem

The steps to use Fauna as a data store do work, but only the Classic Region Group works because the Fauna GraphQL API endpoint URL is a static value. To support Region Groups, the endpoint URL needs to be configurable.

## Suggested solution

I started a PR in my own fork: https://github.com/faunaee/wundergraph/pull/1

I didn't create the PR in this repo because I was unable to get `ma

[2022-07-21 21:08] rwest202 opened #95 "Wildcard CORS does not work"
### Bug description

The CorsConfiguration type recommends to use `['*']` as the value to all origins. However when I set the wildcard values I continue to get cors issues. Setting the domains manually works fine, but any wildcards in the domain seems not to work at all.

[code]

### How to reproduce

1. Go to 'wundergraph.config.ts'
2. Change 'allowedOrigins to `['*']`
3. Run
4. See error when lo

[2022-07-25 09:10] Twathik opened #97 "OAS introspection failed due to top level endpoint"
### Bug description

I  have an issue when introspecting hapi-fhir open api spec
I don't know if you are parsing the specification manually or with some sort of library
bu it seems to be an issue with top level paths

this is the OAS file
[hapi_fhir_v601.txt](https://github.com/wundergraph/wundergraph/files/9179648/hapi_fhir_v601.txt)

I have tried to debug a little
[code]
The problem seems to be

[2022-07-31 15:23] jantimon opened #108 "Hooks can't be minified"
### Bug description

Hooks are used a lot in the codebase.

Relay and ApolloGraph (while having other disadvantages) generate a hook for every query e.g. `useUserInfo`:

[code]

Which minifies to:

[code]

Unfortunately `wundergraph` uses properties which can't be minified:

[code]

Which minifies to almost twice as much code:

[code]

This codes needs to be transfered, decompressed and parsed and

[2022-08-01 09:04] Pagebakers commented on #108
@jantimon I've opened a discussion recently to propose similar optimizations, love to hear your feedback.

https://github.com/wundergraph/wundergraph/discussions/80

[2022-08-01 11:53] jantimon commented on #108
Thanks for the hint - I wrote some words in the discussion :)

Please let me know if it's reasonable.

I'll close this bug :)

[2022-08-01 11:54] #108 closed

[2022-08-02 14:51] blegrosvoalte opened #110 "Add support to Apollo Federation Gateway implementation to support Federation v2"
## Problem

Per @jensneuse , the WunderGraph Apollo Federation Gateway implementation does not currently support v2 spec directives for Apollo Federation (https://discord.com/channels/738739428314316823/896563324278415370/1003922967790616606).

## Suggested solution

Update the config parser to support v2 directives.

## Alternatives

n/a

## Additional context

n/a

[2022-08-02 14:53] blegrosvoalte opened #111 "Implement the Apollo Federation Subgraph Specification"
## Problem

Per @jensneuse , WunderGraph does not currently support the Apollo Federation Subgraph spec (https://discord.com/channels/738739428314316823/896563324278415370/1003923461493760060) and is not listed at on the compatibility matrix located at https://github.com/apollographql/apollo-federation-subgraph-compatibility.

## Suggested solution

Implement the subgraph specification to be compa

[2022-08-03 08:33] deslee opened #112 "Add validation to file uploads"
## Problem

Currently file uploads cannot be restricted by size or mimetype

## Suggested solution

A configuration in s3UploadProvider could look like:

[code]

with the default value being
[code]

## Alternatives

Using typescript middleware to validate / authorize uploads is also another option, but less efficient

[2022-08-03 10:34] jensneuse commented on #112
If a user is uploading audio, how should we determine which rules to apply?
required roles that would apply are either verified or paidsubscriber

How about implementing a typescript hook to determine allowed mimetypes and upload size limit?
e.g.

[code]

With this, depending on the user info, roles, etc.. (all info is contained in the user Object), you can determine with a TS function what upload

[2022-08-04 09:27] #4 closed

[2022-08-05 05:11] greemo opened #114 "null values in body are not passed through to graphql backend"
The Wundergraph operation looks like this:
[code]
I have the semantics that we can clear a value by sending an update with a null value.
This is different to sending an update when some values are not set, which means don't change the values not included in the call.

For example, in the below call, I want to clear the existing "name" attribute on the object.
[code]

You can see by the above, the

[2022-08-05 08:31] jensneuse commented on #114
Thanks for reporting. We've got people who wanted to have the exact opposite behaviour. I guess we should make this configurable. Do you think this need to have granular configuration or could it be just at the datasource level? E.g. switch it on or off via boolean config param for the whole origin.

[2022-08-05 12:13] greemo commented on #114
Hi Jens, thanks for the quick response.

In GraphQL, one can have different semantics for non-inclusion vs inclusion as null. Therefore I believe the default should be to pass nulls through. Otherwise an intentional feature of GraphQL backends is not available through Wundergraph.

I see this filtering null values as an additional filtering feature, rather than the way the system should behave by

[2022-08-05 12:28] jensneuse commented on #114
Sounds reasonable to me, although the reason is not performance. In some cases, you don't want to send nulls because the server handles them differently than empty fields, e.g. in a patch.

[2022-08-05 17:15] matt-cochran opened #115 "Query Fragments Support for Server Driven UI architecture"
## Problem

My aim is to build [SDUI](https://medium.com/airbnb-engineering/a-deep-dive-into-airbnbs-server-driven-ui-system-842244c5f5) apps.

Server-driven UI composition means I have data structures that are reused frequently and bound to explicit components (...from extremely simple and fine-grained utility components that are composed into larger, more complex and coarse-grained feature-level

[2022-08-06 01:35] greemo commented on #114
Yes, this is the reason I meant.
Regarding performance, I meant doing the filtering in the Go code instead of in the Node hooks, where it could also be done. :)

[2022-08-09 12:36] AnsonCode opened #119 "Write an how to guide about how to debug hooks"
## Problem

I want to know how to debug hooks.

I have known that  hooks essentially is web server.But i have no idea about how to debug hooks.

Hope to provide documentation.

[2022-08-09 12:51] jensneuse commented on #119
@StarpTech We should run `wunderctl up` with a param to disable building and (re-)running the hooks. Then, add a config to continuously build and run the hooks server, e.g. using ts-node with `--watch`. Once the flow works, it needs to be documented. I think it should already be available, more or less, just needs to be tried and documented.

[2022-08-09 12:57] jensneuse commented on #115
Implemented: https://docs.wundergraph.com/docs/examples/fragments

[2022-08-09 12:57] #115 closed

[2022-08-15 12:20] AnsonCode opened #124 ""Operation" directory support Multilevel routing"
## Problem

Dose wg support Multilevel routing?

## Suggested solution

I try to add sub dirctory 'user' and add graphql operation file 'list.graphql' in the sub dirctory,and hope that  wg can genearte REST API  "/user/list".

## Additional context

I think it's usefull. Because 'Operation' dicecory  will be more and more disorder with the growth of project . And this problem  can be  solved by us

[2022-08-15 13:32] jensneuse commented on #124
@StarpTech and I were talking about this already. We will definitely at some point implement this. Just not yet sure when. ;-)

[2022-08-18 02:07] AnsonCode opened #129 "Operation does't support graphql Parameter Default Value syntax."
### Bug description

Operation does't support graphql Parameter Default Value syntax.

### How to reproduce

0. config datasource
[code]
1. Go to 'operations' dic

2. new file  'testparm.graphsql',the content

[code]

3. Run 'cd wundergraph/.wundergraph && wunderctl up --debug --listen-addr 0.0.0.0:9991'
4. See error

[code]

### Expected behavior

_No response_

### WunderGraph information

### E

[2022-08-18 07:29] AnsonCode opened #130 "hooks server 9992 port is occupied."
### Bug description

Hooks port 9992 not killed when Wg process terminates.

### How to reproduce

1. Run 'wunderctl up --debug --listen-addr 0.0.0.0:9991'
2. See error
[code]
3. Run 'lsof -i:9992'
[code]
5. Run 'kill 76119 '
6. Run 'wunderctl up --debug --listen-addr 0.0.0.0:9991'
7. success

### Expected behavior

_No response_

### WunderGraph information

### Environment & setup

- OS:
- Go ve

[2022-08-18 09:58] jensneuse opened #131 "using @internal on operations breaks code generation"
### Bug description

when using an operation like this:

[code]

[2022-08-18 10:15] jensneuse commented on #130
Thanks for reporting, we'll have a look. What's your wunderctl version?

[2022-08-18 10:16] jensneuse commented on #119
@AnsonCode we're currently working on this. It's available soon. @StarpTech will update the docs once complete and let you know here in the issue.

[2022-08-20 05:39] AnsonCode commented on #119
This is COOL! Looking forward to your work. @jensneuse

[2022-08-22 09:42] AnsonCode opened #134 "up mode a File change detected exception"
### Bug description

up mode accur  File change detected exception

### How to reproduce

1. Go to '.wundergraph'
2. Run 'wunderctl up --debug --listen-addr 0.0.0.0:9991'
3. See error
[code]
4. There is an infinite loop

### Expected behavior

_No response_

### WunderGraph information

/.wundergraph/wundergraph.config.ts
[code]

/.wundergraph/wundergraph.operations.ts
[code]
/.wundergraph/wunderg

[2022-08-23 04:36] alasdairtran opened #136 "Event stream responses are missing the X-Accel-Buffering header"
### Bug description

I've been testing the Live Queries feature and it works well locally. But when I put Wundergraph behind the nginx in my cluster, the nginx seems to buffer the response from the server and the client's request is stuck in a loading state for a long time.

From my research, (e.g., see [here](https://serverfault.com/a/801629)), there are a bunch of settings I need to change in my

[2022-08-23 04:50] jensneuse commented on #136
Seems legit. We'll have a look and will probably need your help with verifying the fix. @StarpTech thoughts?

[2022-08-23 08:23] StarpTech commented on #136
Hi, looks good to me. I'll try to reproduce it and prepare the first draft.

[2022-08-23 12:30] AnsonCode opened #137 "start mode graphql Introspection failure"
### Bug description

1. up mode execute this garaphql query success

[code]

2. start mode execute above graphql query  failure,and enableGraphQLEndpoint is true

wundergraph.config.ts
[code]

[code]
3. start mode execute other graphql query success,for example
[code]
4.try to debug ,get this error

![image](https://user-images.githubusercontent.com/20960032/186155831-9610c2fd-43a4-48e0-a81b-c8505

[2022-08-24 02:49] alasdairtran opened #138 "Watcher crashes if there are no fragments or webhooks"
### Bug description

A slightly annoying bug on newer wunderctl versions (I think starting from 0.98.0). If I don't have a `.wundergraph/webhooks` or `.wundergraph/fragments` directory, then the watcher crashes with error, e.g.:

[code]

and afterward, any change to `.wundergraph` will no longer trigger reload.

If I add a dummy fragment and webhook, then hot reload works again.

### How to reprod

[2022-08-24 07:14] jensneuse commented on #138
Can you try 0.98.1?

[2022-08-24 07:41] alasdairtran commented on #138
It's the same error. I guess you might want to add a directory to the watch list only if it exists.

[2022-08-25 02:20] AnsonCode commented on #130
[code]

[2022-08-25 17:26] StarpTech commented on #130
Hi @AnsonCode are you able to reproduce it with the latest release?

[2022-08-25 17:27] StarpTech commented on #138
Hi @alasdairtran thanks for reporting. Will look into it and provide a fix.

[2022-08-25 20:09] #138 closed

[2022-08-26 10:00] #130 closed

[2022-08-29 18:42] blegrosvoalte opened #147 "Issue explicitly forwarding Content-Type header with introspected federation API"
### Bug description

When using the following code block to build header forwarding for a federated introspection, I'm seeing headers replaced with templates rather than values:

[code]

My subgraph is receiving the following HTTP request headers (shown as JSON):

[code]

By removing the `.addClientRequestHeader('Content-Type', 'Content-Type')` line, I start to get header values forwarded correctl

[2022-08-29 18:47] jensneuse commented on #147
Just to clarify, when you use `.addClientRequestHeader('Content-Type', 'Content-Type')`, it shows the error as described above. When you remove this line and only keep `.addClientRequestHeader('Authorization', 'Authorization')
        .addClientRequestHeader('X-Custom-Header', 'X-Custom-Header');` the other headers work fine? Or does it never work when you use the builder?

[2022-08-29 18:51] blegrosvoalte commented on #147
@jensneuse That is correct.  The builder works with the removal of the call to the builder to forward the header `Content-Type`.

[2022-08-29 19:01] jensneuse commented on #147
I understand. Stupid question, why do you want to forward the Content-Type from the client? The gateway will send the federated Operations, so it will "own" the requests. All requests should be Content-Type application/json. What's a reason you'd like to override this?

[2022-08-29 19:10] blegrosvoalte commented on #147
@jensneuse Just something I tried to start.  It produced an error and I couldn't run the Wundernode, so I removed it and things worked.  When I dug into the issue, I noticed the described behavior, so I thought it'd be helpful to report.  We had also played around with the idea of changing the content-type to `application/graphql` which motivated the try, but we've decided not to go that route.

N

[2022-08-29 21:03] jensneuse commented on #147
Yeah, I appreciate you've opened the issue. I'm not against allowing to pass Content-Type, it's just weird that it has these side effects. We'll definitely look into it.

[2022-08-30 07:23] jensneuse commented on #94
merged

[2022-08-30 07:23] #94 closed

[2022-08-30 10:58] YuriBuerov commented on #95
We were trying to replicate this issue on wunderctl ```0.100.0```, and seems it works fine. Please reopen this issue if you see it again.

[2022-08-30 10:59] #95 closed

[2022-08-30 14:23] #131 closed

[2022-08-30 15:25] blegrosvoalte opened #150 "Custom request headers not working when using `wunderctl generate`"
### Bug description

I currently have a GraphQL subgraph written in Apollo, running on NodeJS, exposing a federated schema (ie - the `_service` field).  When trying to use Wundergraph as an Apollo Federated Gateway in a Docker image, in the build layer, I'm getting an HTTP response with a status code of 400 when `wunderctl generate` is called.  The 400 status code from the subgraph occurs when a s

[2022-08-30 17:38] #25 closed

[2022-08-31 03:25] AnsonCode commented on #137
I'V sovle this issue，use `wunderctl start --enable-introspection true`

[2022-08-31 03:25] #137 closed

[2022-09-01 10:02] YuriBuerov commented on #136
Fixed [By](https://github.com/wundergraph/wundergraph/pull/157)

[2022-09-01 10:03] #136 closed

[2022-09-02 09:17] alasdairtran opened #159 "Bump up graphql-go-tools version to improve subscription connections"
### Bug description

I'm wondering if you can release a new version of graphql-go-tools and then bump up the dependency in this repo? There's [a fix](https://github.com/wundergraph/graphql-go-tools/pull/390) that we need to make subscriptions work properly in our app - it's already been merged to the graphql-go-tools master branch back in July but hasn't been included in any release yet.

### How

[2022-09-05 13:15] AnsonCode opened #166 "@transform Directive failed"
### Bug description

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/20960032/188453402-b2755cd2-aa23-4140-b964-66f8d4d3bbe2.png">

### How to reproduce

[code]

### Expected behavior

_No response_

### WunderGraph information

[code]

### Environment & setup

- OS:
- Go version:
- Database:
- Node.js version:

### WunderCtl Version

[code]

[2022-09-05 13:16] jensneuse commented on #166
Transform doesn't work in the playground, but should work when creating Operations like the regular way. Can you check?

[2022-09-05 13:24] AnsonCode commented on #166
OK，I've checked it .And It worked!
<img width="369" alt="image" src="https://user-images.githubusercontent.com/20960032/188459843-fb83f5d6-c5fd-476c-abb6-27687c077a84.png">

[2022-09-05 13:24] #166 closed

[2022-09-09 18:32] #49 closed

[2022-09-09 22:32] #37 closed

[2022-09-10 10:07] StarpTech commented on #37
@hinogi, please retry. The examples have been involved a lot. It works on my end.

[2022-09-13 00:05] #34 closed

[2022-09-17 12:06] #46 closed

[2022-09-20 08:35] #159 closed

[2022-09-21 11:44] jensneuse opened #201 "Uploading files pollutes the logs"
Currently, when running `wunderctl up --debug` we're logging all requests including req+res.
That's problematic in case of file uploads, because we're printing the file to the std out.
Ideally, we could detect if the request is a file upload and prevent logging the body to keep the logs clean.

[2022-09-23 06:20] jensneuse commented on #201
fixed

[2022-09-23 06:20] #201 closed

[2022-09-23 06:22] jensneuse commented on #147
@spetrunin I think this is important input for your current task.

[2022-09-27 04:55] 205g0 opened #215 "[docs] Comparison to PostGraphile"
## Problem

I liked the comparison to Hasura which gave me a better understanding. Now, I'd like to have one PostGraphile. Why should I use wundergraph instead and/or next to Postgraphil?

[2022-10-03 11:26] #97 closed

[2022-10-05 07:57] YuriBuerov commented on #134
Fixed in `@wundergraph/sdk@0.114.3`

[2022-10-05 07:57] #134 closed

[2022-10-05 10:22] alaa-barari opened #235 "Requesting list of records with null foreign key relationship mix up the response and makes data integrity issue"
### Bug description

As you can see in the below query, i am requesting list of orders, each order has federated query with Branch, not all orders have a branch hence when the branch id is null, wundergraph returned mixed data, basically in the response you will see for each order record responses are correct until it reach the first null branch and it will start mixing data

[code]

**Variables:*

[2022-10-05 10:29] StarpTech commented on #235
Hi @alaa-barari, thanks for opening an issue. Could you please format the issue properly?

[2022-10-05 10:37] alaa-barari commented on #235
@alaa-barari : what you need me to update exactly please ?

[2022-10-05 10:58] jensneuse commented on #235
Please put the logs in code fences so that it's readable. =)

[2022-10-07 21:25] jensneuse commented on #150
This is now possible through:
https://docs.wundergraph.com/docs/wundergraph-config-ts-reference/configure-introspection#provide-headers-with-introspection-configuration

[2022-10-07 21:25] #150 closed

[2022-10-11 21:12] #110 closed

[2022-10-11 21:12] #111 closed

[2022-10-12 16:39] #112 closed

[2022-10-16 14:28] rupurt opened #262 "Improve wunderctl generate error messages to aid in debugging"
### Bug description

When I run `wunderctl generate` I receive an error. The message is not particularly helpful for debugging. Can this include the file and line number so I know where to start looking for the `empty data variable`?

[code]

### How to reproduce

### Expected behavior

_No response_

### WunderGraph information

### Environment & setup

- OS: Mac OS
- Go version: go version go1.1

[2022-10-16 14:40] jensneuse commented on #262
Can you share your wundergraph.config.ts?
Even with tracing, which I agree is worth adding, it might be hard to help without seeing the config.

[2022-10-16 18:43] rupurt commented on #262
@jensneuse I resolved the problem myself but I opened this issue as a quality of life improvement for those in the future. I feel like the CLI should print the variable name + source file + line number. Currently it just prints the value of the variable which isn't very helpful.

FWIW: The problem was an environment variable that was not set 😄

[2022-10-17 06:18] jensneuse commented on #262
Cool, thank you for reporting. We'll have a look at how we can improve the messaging around env variables. You definitely have a point here.

[2022-10-17 08:07] rupurt opened #263 "wunderctl generate hangs when run inside a docker build"
### Bug description

`RUN wunderctl generate` inside a docker image hangs until a timeout when trying to generate the prisma engines

### How to reproduce

Cross posted from https://github.com/wundergraph/docker/issues/2

### Expected behavior

`wunderctl generate` completes in a reasonable amount of time

### WunderGraph information

### Environment & setup

- OS: Mac OS, Windows, Debian, CentOS

[2022-10-19 15:39] curtismj1 opened #275 "wunderctl up client generation different from wunderctl generate"
### Bug description

Hello wundergraph team,

I have created a nextjs project using `wunderctl init --template nextjs-postgres-starter` and installed all dependencies.

Inside the project, I have created a card model in `schema.prisma`

[code]

as well as a corresponding "select all" style query inside `operations/findCards.graphql`

[code]

When I run `wunderctl generate`, it is able to create th

[2022-10-20 05:38] a0v0 opened #278 "API returns empty data"
### Bug description

The endpoint generated by wundergraph returns empty data, though it queries the actual api perfectly fine.

### How to reproduce

IDK

### Expected behavior

Here is my `SelfProfile.graphql` file
[code]

These are the console logs i am getting.
[code]

As you can see the backend api returns the data perfectly fine
[code]

but when I do not receive any data from api generated b

[2022-10-20 05:40] a0v0 commented on #278
Here is the swagger definiton
[code]

[2022-10-20 07:55] StarpTech commented on #278
Hi @a0v0, you are using a very old version of wundergraph. Could you upgrade to the latest version and try again?

[2022-10-20 11:05] StarpTech commented on #278
Please be a bit more verbose :smile: So you can still reproduce it?

[2022-10-20 11:40] a0v0 commented on #278
Yes

[2022-10-20 11:46] a0v0 commented on #278
I

@StarpTech is the version correct?

[2022-10-20 15:54] StarpTech commented on #278
Yes, looks good. We'll investigate.

[2022-10-22 05:28] a0v0 commented on #278
any luck on this one?

[2022-10-23 14:25] John-Appleseed opened #283 "OpenID Connect provider, oidc.login.xyz, is returning: `Unrecognised client id.` or `Bad query params`"
### Bug description

OpenID Connect provider, oidc.login.xyz, is returning. `Unrecognised client id.` or `Bad query params`

### How to reproduce

Created a new client id with Login.xyz
[code]
Save variables to .env file
[code]
Configured cookieBased authProviders.openIdConnect to wundergraph.config.ts
[code]
Test cookie auth with curl
[code]
[code]
Following the link will return:
[code]
Test cook

[2022-10-23 14:48] jensneuse commented on #283
Assuming that "app" is your application name, and "localhost:9991" is your WunderNode endpoint, you can start the login flow on "http://localhost:9991/app/main/auth/cookie/authorize/loginxyz".

The login flow is started from the WunderNode. Once successful, the cookie will be set.

Your config looks right.

[2022-10-25 06:32] jensneuse commented on #278
Hey, I'm sorry that it takes a while. My backlog is almost emptied. I'll look into this asap.

[2022-10-25 07:00] alasdairtran opened #284 "Support schema extension for GraphQL and REST data sources"
## Context

Consider the following. We're storing image metadata in our Postgres database using the PostGIS extension. Hasura supports PostGIS natively and creates a custom GraphQL scalar called `geography` to store the GPS coordinates. The value of this type is a GeoJSON. See https://hasura.io/docs/latest/schema/postgres/postgresql-types/#geography

We use Hasura as a backend for WunderGraph. Usi

[2022-10-25 18:07] John-Appleseed commented on #283
`login_xyz_redirect_uri` had to have `http://` URI rather than a `https://` URI.

Fixed
[code]

[2022-10-25 18:07] #283 closed

[2022-10-27 04:35] a0v0 commented on #278
Still waiting...

[2022-10-27 11:11] fiam commented on #278
@a0v0 It looks like something is wrong in your configuration. The `swagger.json` file is missing an `info` node and does not match the fields in `SelfProfile.graphql`. Are you sure you're posting the correct one? Thanks!

[2022-10-27 16:36] a0v0 commented on #278
This is the full swagger,json

[code]

[2022-10-27 21:57] bmcilw1 opened #297 "WunderGraph CLI should not overwrite existing files if possible"
## Problem

I tried to install WunderGraph in a repo that I'd created from a template, SvelteKit in this instance. I followed [this](https://docs.wundergraph.com/getting-started#integrating-wunder-graph-with-an-existing-project)

I ran

[code]

And was surprised and frustrated to see how many files were overwritten.

[code]

## Suggested solution

Modify the CLI install in an existing project to n

[2022-10-28 08:41] fiam commented on #278
@a0v0  Thanks for the updated file. I'm looking into it.

[2022-10-28 11:53] fiam commented on #278
@a0v0 I've reproduce the problem. I'll continue investigating.

[2022-10-28 13:13] fiam commented on #278
@a0v0 Your `swagger.json` declares that your top level item is an array, but it's actually an object. If you wrap the data your server returns in an array, it works. e.g.

[code]

[code]

We'll add some checks to return an error in this case, but there's no actual bug.

[2022-10-28 16:22] a0v0 commented on #278
oh, this! I will try to fix and reply back

[2022-10-29 01:01] bmcilw1 opened #303 "[Bug] Several projects in `./examples` do not run due to missing client"
### Bug description

The example projects do not run. Wundergraph does not generate all the files it used to, or they have been renamed.

<img width="247" alt="Screen Shot 2022-10-28 at 7 53 52 PM" src="https://user-images.githubusercontent.com/1582095/198754466-1194444e-154b-4571-8e15-e20b6aeb099d.png">

### How to reproduce

1. Run `nvm use --lts` and `node --version` to ensure node 16.x
2. Clea

[2022-10-29 01:26] bmcilw1 commented on #303
As I've looked deeper into the repo, the CLI, underlying commands, etc, I see that the example repos are not the only place that could use a bit more test coverage lovin' 🙁 😬

<img width="699" alt="Screen Shot 2022-10-28 at 8 24 07 PM" src="https://user-images.githubusercontent.com/1582095/198755559-67cda192-9cec-434f-ab82-9f8b4c9f79b3.png">

[2022-10-29 07:00] fiam commented on #303
@bmcilw1 I managed to reproduce something similar to what you're experiencing, but after deleting `node_modules` and `package-lock.json` I cannot reproduce it anymore. Please, try deleting those and rebuilding.

Regarding the tests for the Go packages, some of those are very simple ones which consist of generated code (like e.g. `templates` or `wgpb`) or are examples (like `testapps/mtls/{client,s

[2022-10-29 13:42] bmcilw1 commented on #303
After deleting `node_modules` and `package-lock.json`, clearing my npm cache, etc. I've tried again. The `wundergraph.client` file is still not being generated for me.

[2022-10-31 12:26] #278 closed

[2022-10-31 12:52] fiam commented on #278
You're welcome. Thanks for letting us know!

[2022-11-05 01:19] alasdairtran commented on #284
Hi @YuriBuerov, I saw your PR #302 merged into master. Thanks a lot for coming up with a solution quickly.

But it doesn't quite fully resolve this issue. Using the same example as above, Hasura expects `location` in the query to not have any subfield selection (because it is a custom scalar):

[code]

and Hasura might return the following (note how Hasura automatically returns a resolved object f

[2022-11-05 09:13] jensneuse commented on #284
@YuriBuerov I think there's something wrong in the implementation. The original implementation that only worked for the Prisma datasource "marked" the custom scalars fields in a special way. When sending the query upstream, we need to dismiss the selections on the field, treating it like a scalar again. The Prisma datasource does this. I think we've missed to port this over.

@alasdairtran Once we

[2022-11-09 12:39] OLingard commented on #284
Hi @jensneuse, building on this comment you made:

Can this also be applied to the `customIntScalars` implementation as well? Our upstream service has a custom scalar which is treated like an Int field so I tried to add the GraphQLIntrospection option of:

[code]

This allowed me to treat this scalar as an Int field however in our upstream service we now get the error:
`Validation error of type Va

[2022-11-09 16:05] jensneuse commented on #284
Ha! good catch. The problem here is that we treat this variable now as an Int, but before sending it to the Origin, we have to rewrite the Int to TestScalar. This is already implemented for another feature. What's missing is that we add "TestScalar" to the mapping table.

[2022-11-09 17:05] OLingard commented on #284
Aah okay, that's great @jensneuse thanks. I've only started exploring Wundergraph today so I'm not in a position to make the changes just yet. Is there a process for reporting these bugs and asking for help drafting a pull request to solve the issue?

[2022-11-09 18:30] jensneuse commented on #284
If you want to try creating a PR, here's what needs to be done:

from `replaceCustomScalars`, collect a list of `TypeFieldConfiguration`
https://github.com/wundergraph/wundergraph/blob/68b34d7b5436dfe8d88c7e3a27e0975a263e5034/packages/sdk/src/transformations/shema.ts#L4

Which needs to be added to the type configs from namespacing:

https://github.com/wundergraph/wundergraph/blob/68b34d7b5436dfe8d

[2022-11-09 21:19] OLingard commented on #284
Hi @jensneuse, is there a time box which this would need to be complete within? Happy to look at it so I understand the inner workings more however I've got holidays booked in for most of the week so I'd be unable to get round to it to mid next week. Aware that this breaks this functionality so if it is more urgent feel free to take it off my hands!

[2022-11-10 11:47] OLingard opened #329 "[BUG] Using an internal variable inside a JSON field yields an error"
### Bug description

Hi there Wundergraph! I have 2 external API's as my downstream sources, one of them being Strapi, a CMS which has a GraphQL endpoint which sets up a schema where queries have a JSON argument to do more complex filtering. For example a query type would look like:

[code]

When trying to use this query inside the `_join` field, it works as expected when using the arguments such

[2022-11-10 12:00] OLingard commented on #284
Okay, I'll have a play about with it next week and see if I can get my head around the inner workings. I'll keep you updated and buzz with any questions. Thanks for the support!

[2022-11-11 10:22] fiam commented on #303
Fixed by #321

[2022-11-11 10:22] #303 closed

[2022-11-11 10:23] fiam commented on #303
@bmcilw1 Thanks for the heads up! Some of the generated files were renamed but I had them generated with an older version of the SDK, that's why I couldn't reproduce initially. We took the chance to go through all the examples and make sure they were up to date.

[2022-11-17 07:25] jensneuse commented on #329
Hey, @OLingard thank you for trying this out and finding this issue.
It's a nice edge case that we didn't think of.
Sorry that it took a while to respond. I've had the tab open for a few days but forgot about it.
We've put a process in place to catch this earlier.

I'll add this to our backlog and we'll keep you updated when it's fixed.
I'd love to make strapi work with your custom api.

[2022-11-17 07:26] jensneuse commented on #235
@alaa-barari this should be fixed with the latest release
Can you try it out and report back if it works in your case?

[2022-11-17 12:47] Slickstef11 commented on #297
@bmcilw1 just know that we are on this! Thank you for reporting.

[2022-11-17 12:48] Slickstef11 commented on #275
Thank you for reporting. We will be taking a closer look at this!

[2022-11-17 12:50] Slickstef11 commented on #284
@OLingard wanted to check in and see if you had any questions? Have you been able to do a deep dive on the inner workings?

[2022-11-17 12:50] Slickstef11 commented on #215
@205g0 This is a great idea. Added to the backlog!

[2022-11-18 11:47] OLingard commented on #284
Hi @Slickstef11, sorry had a busy week! I've added a ticket to our backlog which I'll pick up next week to look at this

[2022-11-20 13:48] Slickstef11 commented on #215
@205g0 Have you thought of contributing this yourself? Would love to see what you come up with.

[2022-11-22 02:31] bmcilw1 opened #361 "Example WG repo is still broken due to missing folder"
### Bug description

The [nextjs-postgres-prisma](https://github.com/wundergraph/wundergraph/tree/main/examples/nextjs-postgres-prisma) still does not run without errors with the latest WG install.

This is due to the `components` folder not being created by default.

### How to reproduce

1. Clone this repo into a clean new project, the official [wg repo](https://github.com/wundergraph/wundergrap

[2022-11-23 15:13] robbydooo opened #364 "Typescript/Javascript SDK is not passing through the error"
### Bug description

When the server returns an invalid input error response, the SDKs for Typescript and possible others (I havent checked) always return the hardcoded error "Response is not ok" instead of the exact error`

### How to reproduce

-Provide an invalid datatype to any mutation.
- Run via SDK
- Server will return an error response with json containing the error type.
- SDK will only r

[2022-11-24 07:42] jensneuse commented on #364
Thank you @robbydooo, we'll look into this.

[2022-11-24 13:25] Pagebakers commented on #124
This can now be tracked in Canny

https://wundergraph.canny.io/wundergraph-open-source/p/operation-directory-support-multilevel-routing-124

[2022-11-24 13:28] Pagebakers commented on #129
In progress: ENG-737

[2022-11-24 14:12] Pagebakers commented on #235
@alaa-barari I assume it has been resolved, if not you can re-open this issue.

 Thanks again for your feedback!

[2022-11-24 14:12] #235 closed

[2022-11-24 14:28] Pagebakers commented on #263
Closing this in favor of https://github.com/wundergraph/docker/issues/2

[2022-11-24 14:28] #263 closed

[2022-11-24 14:56] Pagebakers commented on #361
Thanks for reporting @bmcilw1 we've reproduced it and are looking into a fix.

[2022-11-24 17:22] Pagebakers commented on #361
@bmcilw1 We just merged a fix in main, I'm closing the issue, but feel free to open it again in case you have issues.

[2022-11-24 17:22] #361 closed

[2022-11-27 14:28] acdn-sglanzer opened #377 "Escape characters/unicode characters in operations don't seem to encode properly in request URLs"
### Bug description

Escaped quotes/unicode quotes in an operation are *also* encoding the escape character `\` into the request URL.  e.g.

[code]

Both of the \" and \u0022 are also sending the `\` (encoded as `%5C`) while the `\ufff0` seems to get correctly encoded

_all_docs?endkey=bar_2_%EF%BF%B0&startkey=**%5C**%22bar_2_**%5C**%22

### How to reproduce

1. Add `\"` or `\u0022` to a REST/Open

[2022-11-27 14:52] acdn-sglanzer commented on #377
Note that this also happens if quotes are passed as input (an encoded `\` character is added to the request URL)

[2022-11-27 18:39] acdn-sglanzer commented on #377
I'm able to work around this using `onOriginRequest` and mutating the requestURI

[code]

[2022-11-28 15:54] ayoubmoussaid opened #379 "Getting "TypeError: (0 , swr_1.default) is not a function" on useUser function"
### Bug description

I got this error:
[code]
![image](https://user-images.githubusercontent.com/45740145/204322320-a23ea2cc-611c-41f8-bacb-2e45c0b55faa.png)

when I try to run the default example for keycloak-oidc-authentication. I only changed the env file.

### How to reproduce

Just run the example as it is right now, the issue should be there! Unless I am doing something wrong.

### Expected

[2022-11-29 13:11] kaleem68 commented on #275
Hi, thanks for reporting the issue.

It looks like the issue is when you create the `card` it does not generate the queries

if you want to make sure when you modify `schema.prisma` and it detects and generates queries.

Here are simple steps you can try using our latest `create-wundergraph-app` command

1. Use `create-wundergraph-app` command to bootstrap the prisma example
      * `npx create-wu